

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
  
  .modal .content {
    background-color: var(--box-clr);
    position: relative;
    width: 100%;
    z-index: 300;
    border-radius: var(--border-radius);    
    margin-top: 20px;
    height: calc(100% - 40px);
    margin-left:var(--base-size);
    margin-right: var(--base-size);
    width:calc(100% - var(--double-size));
    padding:var(--double-size);
    overflow: auto;
  }
  
  .modal .content .scrollable {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modal .modal-actions{
    border-top:2px solid var(--summer-grass-green);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 72px;
  }

  .modal .scrollable.has-actions{
    height:calc(100% - 100px)
  }

  .modal .content > svg {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  
.modal p {
    margin-bottom: var(--double-size);
  }
    

  /* More Modal stuff?? */
  

#modal .vernacular {
  font-size: 2em;
  line-height: 1em;
}

#modal .resultLabels {
  border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
  padding: 1em 0;
  margin-bottom: 2em;
  flex-grow: 0;
}

#modal .resultDescription {
  font-size: 1em;
  flex-grow: 1;
}

#modal .resultDescription > * {
  margin-top: 1em;
}

#modal .resultActions {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:var(--base-size)
}

#modal .btn {
  font-size: 0.9rem;
}

