
/* Navigation menu */
.modal,
.modal-wrapper{
  display: flex;
  flex-direction: column;
  height:calc(100vh - var(--header-height));
  overflow: hidden;
  z-index: 200;
  position: absolute;
  top:var(--header-height);
  left:0;
  right:0
}

.modal{
  height:100vh;
  top:0;
}

.modal-background:hover,
.modal-background:focus,
.modal-background{
  background-color: rgba(0, 0, 0, 0.72);
  flex:1;
  border:0;
  border-radius:0;
  width: 100%;
  margin:0
}

nav ul{
  padding: 0;
  list-style: none;
  background:var(--box-clr);
  padding:var(--double-size);
  margin-top:0;
  max-height:calc(100% - var(--header-height));
  width: 100%;
  margin-bottom: 0;
}

nav li,
nav li a,
nav li button {
  width:100%;
  margin:0;
}

nav li a,
nav li button {
  width:100%;
  padding:var(--base-size);  
  border-radius: 0;
  border:0;
  display: flex;
  justify-content: space-between;
  background: inherit;
  border-radius: var(--border-radius);
}

nav li a span,
nav li button span{
  flex:1;
  padding:0 10px;
  display: inline-block;
  text-align: left;
}

nav li a svg,
nav li button svg{
  margin:0
}

nav li a:hover,
nav li button:hover{
  background:var(--secondary-clr)
}

nav li a:focus,
nav li button:focus{
  border-radius: var(--border-radius);
}

