
/* Navigation menu */
.modal,
.modal-wrapper{
  display: flex;
  flex-direction: column;
  height:calc(100vh - var(--header-height));
  overflow: hidden;
  z-index: 200;
  position: absolute;
  top:var(--header-height);
  left:0;
  right:0
}

.modal{
  height:100vh;
  top:0;
}

.modal-background:hover,
.modal-background:focus,
.modal-background{
  background-color: rgba(0, 0, 0, 0.72);
  border:0;
  border-radius:0;
  width: 100%;
  margin:0;
  z-index: 0;
  position: absolute;
  height: 100%;
}


nav ul{
  padding: calc(var(--double-size)*2) ;
  list-style: none;
  background:var(--box-clr);
  margin-top:0;
  max-height:calc(100% - var(--header-height));
  width: 100%;
  margin-bottom: 0;
  max-width:500px;
  margin-left: auto;
  z-index: 2;
  border:1px solid var(--text-clr)
}

nav li,
nav li a,
nav li button {
  width:100%;
  margin:0;
}

nav li a,
nav li button {
  width:100%;
  padding:var(--base-size);  
  border-radius: 0;
  border:0;
  display: flex;
  justify-content: space-between;
  background: inherit;
  border-radius: var(--border-radius);
  font-size: 12pt;
  text-decoration: none;
  color:var(--text-clr);
  margin:var(--base-size);
  font-weight:bold
}


nav li a span,
nav li button span{
  flex:1;
  padding:0 10px;
  display: inline-block;
  text-align: left;
}

nav li button span{
  color:var(--text-clr);
}

nav li a svg,
nav li button svg,
nav li button:not(.icon-button) .MuiSvgIcon-root{
  margin:0;
  color:var(--text-clr);
  width: 20px !important;
  height: 20px !important;;
  padding: 0;
}

nav li a svg:last-child,
nav li button:not(.icon-button) .MuiSvgIcon-root:last-child{
  color:var(--coral-light)
}

nav li a:hover,
nav li button:hover{
  background:var(--secondary-clr)
}

nav li a:focus,
nav li button:focus{
  border-radius: var(--border-radius);
}

.new-section{
  margin-top: var(--double-size);
  padding-top:var(--double-size);
  border-top:1px solid var(--summer-grass-green);
}