
:root {
    /* Accent colour chart */
    --summer-grass-green: #495e2e;
    --summer-grass-light: #9b9921; 
  
    /* ADB Profile */
    --font-chivo: 'Chivo', sans-serif;
    --font-space: 'Space Mono', sans-serif;
    --overlay-color: pink;
   
    --coral-light: #e55440;
    --coral-dark: #cf3e1c;
    --sun-dark: #b67717; 
    --sun-light: #f8ae00; 
    --winter-green-dark: #007759;
    --ocean-dark: #262f31;
    --sand-50: #FFF7EB; /* Header + footer + toppelementbokser*/
    --sand-10: #FFFCF7; /* Ny bg-farge*/
    --fresh-water-blue:#005B72;
    --fresh-water-blue-light: #0283a1; /* Ferskvannblå*/
    --fresh-water-blue-medium: #017590;
    --fresh-water-blue-80:#337B8D;
    --fresh-water-blue-40: #99BDC6;
    --fresh-water-blue-20:#CCDEE3;
    --fresh-water-blue-10:#E6EFF1;
    --info:var(--fresh-water-blue);
  
    --header-height:46px;
    --base-size:8px;
    --half-size:4px;
    --double-size:16px;
    --gap:var(--base-size);
    --focus-border-width: 2px;
    --button-font-size: 16px;
    --icon-size: 18px;
    --button-border-radius: 30px;
    --border-radius:4px;
    --padding-horisontal: 22px;
    --padding-vertical: 14px;
    --border-width: 2px;
    --focus-border-width: 3px;
    --icon-button-size: 40px;
    --big-round-button-size:80px;
    --focus-color: var(--fresh-water-blue-light);
    --focus-outline:var(--focus-border-width) solid var(--focus-color);
    --body-color:var(--ocean-dark);
  }
  
  /*
  :root *:focus {
    outline: none; NOOOO WHYY NEVER EVER EVER DO THIS
  }*/
  
  .lightmode {
    --link-clr: var(--fresh-water-blue-medium);
    --bg-clr: var(--summer-grass-green);
    --box-clr: var(--sand-50);
    /* Buttons */
    --primary-clr: var(--fresh-water-blue);
    --text-clr-on-primary:#fff;
  
    --secondary-clr: var(--fresh-water-blue-20);
    --text-clr-on-secondary:var(--body-color);
  
    --primary-color-hover: var(--fresh-water-blue-80);
    --secondary-color-hover: var(--fresh-water-blue-10);
  
    /* Other stuff */
    
    --text-clr: var(--ocean-dark);
    --gauge-border-clr:var(--text-clr);
  }


  /* 
  Have to make custom dark theme colours to ensure contrast. Battle Tove at will.
  */ 

  .darkmode {
    --link-clr: #09a7e5;
    --bg-clr: #273219;
    --box-clr: #14181a;
    /* Buttons */
    --secondary-clr: var(--fresh-water-blue);
    --text-clr-on-secondary:#fff;
  
    --primary-clr: var(--fresh-water-blue-40);
    --text-clr-on-primary:var(--body-color);
  
    --secondary-color-hover: var(--fresh-water-blue-80);
    --primary-color-hover: var(--fresh-water-blue-10);
  
    /* Other stuff */
    --text-clr: #fff;
    --gauge-border-clr:var(--text-clr);
  }
  