
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import 'styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 1.25rem;
  }
}

body {
  align-items: center;
  justify-content: center;
  background-color: var(--sand-50);
  font-family: var(--font-chivo);
  overflow: hidden;
  text-align: center;
  font-size: 14pt;
}

.app {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /*max-width: 900px;*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--box-clr);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);  
  color:var(--text-clr);
}


a {
  color: var(--link-clr);
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
  color: var(--text-clr-on-primary);
}

h1{
  font-size: 28px;
  margin-bottom: var(--double-size);
}

h2{
  font-size: 24px;
  margin-bottom: var(--double-size);
}

h3{
  font-size: 22px;
  margin-bottom: var(--double-size);
  font-weight: bold;
}

h1, h2, h3{
  margin-top:var(--double-size)
}

hr {
  height: 1px;
  border: none;
  background-color: hsla(0, 0%, 50%, 0.5);
}

#root {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

#root > div {
  width: 100%;
  height: 100%;
}

.darkmode .light {
  display: none;
}

.lightmode .dark {
  display: none;
}

ul {
  list-style-type: none;
  text-align: left;
  margin:0;
  padding:0
}

.bullet-list{
  list-style-type: circle;
  padding: 4px 16px;
}


@import 'styles/buttons.css';
@import 'styles/modal.css';
@import 'styles/navigation-menu.css'; /* also uses modal names*/
@import 'styles/action-line.css';

/* Header & Footer */

header {
  width: 100%;
  height: var(--header-height);
  background: var(--bg-clr);
  position: relative;
  flex-grow: 0;
  top: 0;
  overflow: visible;
  z-index:100
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--base-size);
  width: 1.5em;
}

.bottomButtons {
  z-index: 2;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  right: 0;
  height: 6rem;
  bottom: calc(1rem + constant(safe-area-inset-bottom));
  bottom: calc(1rem + env(safe-area-inset-bottom));
}


/* user-feedback list (error-handling) */

.manual {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 7rem;
}

.manual-item {
  display: flex;
  flex-direction: row;
  padding: 0.7rem 1rem;
  align-items: center;
  overflow: hidden;
}

.manual-item-text {
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 1.5em;
}

.how-to-list{
  padding:0
}

.how-to-list svg {
  min-width: 2.5rem;
  width: 2.5rem;
  float:left;
  margin:8px
}

.how-to-list li{
  display: flex;
  margin-bottom: var(--double-size);
  padding-right:8px
}

/* Page spinner */
.littleSpinner {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px !important;
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid var(--text-clr-on-primary);
  animation: spin 1s linear infinite;
}

/* Image Containers for input page */

.image-intro{
  display: flex;
  padding: var(--double-size);
  gap:var(--base-size);
  margin: auto;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 148px;
  text-align: center;
  position: relative;
  padding-top:8px;
}

.imgContainer button{
  margin: 0;
}

.imgContainer .menu-icon{
  margin: 0;
  color:var(--text-clr);
  position: absolute;
  margin-left: -8px;
}

.uploadedImage {
  height: 6rem;
  max-height: 100%;
}

.add-more-info{
  height: 96px;
  margin:auto;
  border:2px dashed var(--text-clr);
  margin-bottom:4px;
  display: flex;
  padding: 8px;
}

.add-more-info:hover{
  cursor: pointer;
}

.add-more-info span{
  margin:auto;
  font-size: 12pt;
}

.mini-thumb{
  height:60px
}

.taxon-image{
  border-radius: 90px;
  width: 60px;
  height: 60px;
  margin:0
}

.taxon-image.big-image{
  width:100%;
  max-width: 260px;
  height:auto;
  border-radius: 50%;
}

/* Crop image page */ 

.cropContainer > .cropper {
  flex-grow: 1;
}

.cropContainer .editing {
  display: flex;
  width: 100%;
  gap:4px;
  margin:4px 0
}

.image-edit-button{
  padding:4px;
  flex:1;
  margin:0;
}


/* Result List */

.result-list li{
  width:100%;
}


.result-list li button{
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  word-break: break-word;
  margin-bottom: var(--half-size);
  padding:var(--base-size)
}

.result-list li .vernacular {
  font-size: 1.6em;
}

.result-list li button,
.adb-big-card /* From the NiN-system*/{
  border-radius: 17px;
  border: 1px solid #d9d9d9;
  background:var(--text-clr-on-primary);
}

/* Species presentation */ 

.italics {
  font-style: italic;
}

.scientific {
  font-style: italic;
}

.hyphenate {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

/* Text pages */ 

.aboutLogo {  
  width: 50%;
  padding: 0.5em;
}

.intro {
  font-size: 1.1em;
  font-weight: bold;
}

/* OTHER STUFF */ 


.loading .imgContainer {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.clear-link{
  text-align: center;
  padding-top:var(--double-size);
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.frontpage{
  background: var(--bg-clr);
  color:white;
  padding:10%;
  font-size: 20px;
}



.images{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@import 'styles/result-gauge.css';

.result-labels{
  flex:1;
  padding: var(--half-size) var(--base-size);
  text-align: left;
  line-height:14pt;
}

.species-name-title{
  display: block;  
}

.species-name-title:first-letter {
  text-transform: uppercase;
}

.species-group {
  font-size: 12px;
  display: block;
}

.species-group.big{
  font-size: large;
}

button .chevron-right .MuiSvgIcon-root{
  height:30px;
  width:30px;
  margin:0
}

.external-link .MuiSvgIcon-root{  
  width: 20px ;
  height: 20px ;
  vertical-align: middle;
}

.external-link{
  padding:var(--base-size);
}

.species-presentation h2{
  font-size: 28px ;
}

.species-presentation h3{
  font-weight: normal;
}

.result-description p{
  font-size: 12pt;
}

.result-description p:first-child{
  font-size: 16pt;
}

.info-box{
  background:white;
  padding: var(--double-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid var(--text-clr);
  border-radius: var(--border-radius);
}

.info-box.tiny{
  padding:0;
  justify-content: flex-start;
  margin:0;
  width:fit-content;
  border:none;
  background: none;
}

.info-box.danger{
  color:var( --coral-dark);
  border-color:var( --coral-dark);
  font-weight: bold;
}

.info-box .MuiSvgIcon-root {
  height:20px;
}

.cropper-box{
  width:100%;
  height:100%;
  max-height: calc(100vh - 300px); /*ish*/
}