
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*
v beige der hvit på forsiden (bg)
v Sommergress mørk der organge, (evnt. bittelitt mørekere om vi må)
v rød/grønn knapp korall + vintergrønn
- knappesystem rigget til artsobs
- stripp skygger
- helene grubler på bue på hovedseksjon
- delete knapp siden og "handlekurv-siden" må bli mer selvforklarende (bilde-actions)
- chevron -> open in 
- font + farge 
- om arten: utadgående lenker, kanskje tenke på tekst, plassering, og action
- få toril og wouter til å debattere om navn bør være fulle.
- helene gruble på actions i meny, gjør hvis ikke  (kan restart dø?) (darktheme inn i settings)
- meny på forside? gruble litt
- vurdere tekst i knapp (hvor?)

*/
:root {
  /* Accent colour chart */
  --summer-grass-green: #495e2e;
  --summer-grass-green-80: #a3ae96;
  --summer-grass-green-50: #c6c7b0;
  --summer-grass-green-10: #f3f5f2;

  /* ADB Profile */
  --font-chivo: 'Chivo', sans-serif;
  --font-space: 'Space Mono', sans-serif;
  --overlay-color: pink;
 
  --coral-light: #e55440;
  --coral-dark: #cf3e1c;
  --winter-green-dark: #007759;
  --ocean-dark: #262f31;
  --sand-50: #FFF7EB; /* Header + footer + toppelementbokser*/
  --sand-10: #FFFCF7; /* Ny bg-farge*/
  --fresh-water-blue:#005B72;
  --fresh-water-blue-light: #0283a1; /* Ferskvannblå*/
  --fresh-water-blue-medium: #017590;
  --fresh-water-blue-80:#337B8D;
  --fresh-water-blue-20:#CCDEE3;
  --fresh-water-blue-10:#E6EFF1;
  --info:var(--fresh-water-blue);

  --header-height:46px;
  --base-size:8px;
  --half-size:4px;
  --double-size:16px;
  --gap:var(--base-size);
  --focus-border-width: 2px;
  --button-font-size: 16px;
  --icon-size: 18px;
  --button-border-radius: 30px;
  --border-radius:4px;
  --padding-horisontal: 22px;
  --padding-vertical: 14px;
  --border-width: 2px;
  --focus-border-width: 3px;
  --icon-button-size: 40px;
  --big-round-button-size:60px;
  --focus-color: var(--fresh-water-blue-light);
  --focus-outline:var(--focus-border-width) solid var(--focus-color);
  --body-color:var(--ocean-dark);
}

/*
:root *:focus {
  outline: none; NOOOO WHYY NEVER EVER EVER DO THIS
}*/

.lightmode {
  --bg-clr: var(--summer-grass-green);
  --box-clr: var(--sand-50);
  /* Buttons */
  --primary-clr: var(--fresh-water-blue);
  --text-clr-on-primary:#fff;

  --secondary-clr: var(--fresh-water-blue-20);
  --text-clr-on-secondary:var(--body-color);

  --primary-color-hover: var(--fresh-water-blue-80);
  --secondary-color-hover: var(--fresh-water-blue-10);

  /* Other stuff */
  
  --tick-clr: #fff;
  --text-clr: var(--ocean-dark);
  --danger: var(--coral-dark);
  --ok: var(--winter-green-dark);
  --color: var(--text-clr);
}

.darkmode {
  --primary-clr: hsl(35, 93%, 68%);
  --bg-clr: #121212;
  --box-clr: hsl(33, 14%, 15%);
  --tick-clr: hsl(33, 14%, 15%);
  --text-clr: #eeeeee;
  --text-clr-on-primary: #121212;
  --danger: hsl(14, 46%, 68%);
  --ok: hsl(105, 46%, 68%);
  color: var(--text-clr);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 1.25rem;
  }
}

body {
  align-items: center;
  justify-content: center;
  background-color: var(--sand-50);
  font-family: var(--font-chivo);
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

#root > div {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: square;
}

.App {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /*max-width: 900px;*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: var(--bg-clr);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

/* BUTTONS */
/* Based on design system in AO3. */

button,
.btn {
  padding: var(--padding-vertical) var(--padding-horisontal);
  border-radius: var(--button-border-radius);
  border-width: var(--border-width);
  border-style: solid;
  box-sizing: border-box;
  font-size: var(--button-font-size);
  line-height: var(--button-font-size);
  margin: var(--gap);
  margin-left: 0;
}


/* Focus */
*:focus{
  outline: var(--focus-outline);  
  border-radius: var(--border-radius);
}

button:focus,
.btn:focus{
    outline: var(--focus-outline);
    border-color: var(--box-clr);
    border-radius: var(--button-border-radius);
}

/* Hover */
button:hover,
.btn:hover {
  cursor: pointer;
  border-color:pink;
}

/* Button styles */
.primary {
  background-color: var(--primary-clr);
  color: var(--text-clr-on-primary);
  border-color: var(--primary-clr);
}

.primary:hover,
.primary:active {
    background: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.secondary {
  background-color: var(--secondary-clr);
  color: var(--text-clr-on-secondary);
  border-color: var(--secondary-clr);
}

.secondary:hover,
.secondary:active {
    background: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

/* Specific Buttons */

.menu-button{
  background:transparent;
  color:white;
  border: none;
}

.menu-button.inverted{
  color:var(--body-color);
}

/* Do we need ghost button? I think not? */

/* delete button etc. */

.icon-button,
.big-round-button{
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.icon-button {    
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  min-width: var(--icon-button-size);
  min-height: var(--icon-button-size);
}


.big-round-button{
  width: var(--big-round-button-size);
  height: var(--big-round-button-size);
  min-width: var(--big-round-button-size);
  min-height: var(--big-round-button-size);
}


/* Are we sure we want these? */
.danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--text-clr-on-primary);
}

.ok {
  background-color: var(--ok);
  border-color: var(--ok);
  color: var(--text-clr-on-primary);
}

.menu-icon {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  z-index: 1;
}

.menu-icon.hidden {
  display: none;
}

.galleryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  position: absolute;
  margin-left: -5rem;
  margin-top: 2rem;
  transform-origin: center;
  transform: translateX(-50%);
}

.hidden.bottomButtons {
  display: none;
}

/* Button icons */

button svg,
.btn svg {
  vertical-align: text-top;
  font-size: var(--icon-size);
  line-height: var(--button-font-size);
  margin-right: var(--gap);
  height:var(--icon-size);
  vertical-align: center;
}

button.big-round-button svg,
.btn.big-round-button svg,
button.icon-button svg,
.btn.icon-button svg {
  margin-right: 1px;
}

/* OTHER STUFF */

.bottom-section::after {
  content: "";
  position: absolute;
  display: block;
  bottom: calc(var(--vh, 1vh) * -10);
  height: calc(var(--vh, 1vh) * 10);
  width: 100vw;
  left: -1.5em;
  background-color: var(--box-clr);
}
/*
.App.lightmode {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 0%,
    hsla(50, 100%, 50%, 0.33) 25%
  );
}
*/
.App.fullscreen {
  max-width: 100vw !important;
  width: 100vw;
}

.image-section {
  padding:var(--base-size);
  height: 12rem;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 300ms ease-in-out 3ms;
  will-change: transform;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--base-size);
  width: 1.5em;
}

.expanded {
  transform: translateY(33vh);
}

.image-section {
  color: #eee;
}

.image-section .placeholder-container {
  width: 50%;
  text-align: center;
}

.image-section .placeholder-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.image-section .placeholder-body {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
}

.hint {
  margin-top: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--info);
  color: var(--text-clr-on-primary);
}

#bigDropzone {
  opacity: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bottom-section {
  border-radius: 1.8rem 1.8rem 0 0;
  box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.12);
  padding: 1.5em;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: transform 300ms ease-in-out 3ms;
}

.bottom-section {
  background-color: var(--box-clr);
}

.bottom-section.hidden {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.manual {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 7rem;
}

.manual-item {
  display: flex;
  flex-direction: row;
  padding: 0.7rem 1rem;
  align-items: center;
  overflow: hidden;
}

.manual-item-text {
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 1.5em;
}

.manual-item svg {
  min-width: 2.5rem;
  width: 2.5rem;
}

.bottomButtons {
  z-index: 2;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  right: 0;
  height: 6rem;
  bottom: calc(1rem + constant(safe-area-inset-bottom));
  bottom: calc(1rem + env(safe-area-inset-bottom));
}

.topBar {
  width: 100%;
  height: var(--header-height);;
  position: relative;
  flex-grow: 0;
  top: 0;
}

.topContent {
  position: relative;
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out 3ms;
  will-change: transform;
}


.littleSpinner {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px !important;
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid var(--text-clr-on-primary);
  animation: spin 1s linear infinite;
}




input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.scrollbarless {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbarless::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.images {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-height: 100%;
  flex-grow: 0;
}

.imgContainer {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem 0rem;
}

.uploadedImage {
  border-radius: 1.5rem;
  height: 6rem;
  max-height: 100%;
}

.goToInput {
  border-radius: 1.5rem;
  height: 6rem;
  width: 6rem;
  min-width: 6rem;
  max-height: 100%;
  border: 0.15em dashed hsla(0, 0%, 100%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  margin: 1rem 0.5rem;
  position: relative;
}

.goToInput::after {
  content: "+";
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.7);
}

.top-btn {
  position: absolute;
  transform: translateY(-3em);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  z-index: 2;
}



.cropContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.cropContainer > .cropper {
  flex-grow: 1;
}

.cropContainer > .editing {
  display: flex;
  width: 100%;
}

.cropContainer > .editing .slider {
  flex-grow: 1;
  padding: 0 1rem;
}

.editing .MuiSlider-root {
  color: white;
}

.cropContainer > .editing svg {
  width: 3.5rem;
  height: 2.5rem;
}

.cropContainer > .buttons {
  display: flex;
  padding-bottom: calc(1rem + constant(safe-area-inset-bottom));
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

.cropContainer > .buttons > div {
  padding: 0.5rem 2rem;
  margin: 1rem;
}

/*
.cropContainer svg {
  height: 1.5rem;
  cursor: pointer;
}*/

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.modal.invisible {
  z-index: -2;
  opacity: 0;
  transition: opacity 100ms linear 203ms, z-index 0ms linear 303ms;
  will-change: opacity, z-index;
}

.modal.visible {
  opacity: 1;
  z-index: 3;
  transition: opacity 100ms linear 3ms;
  will-change: opacity;
}

.modal .content {
  width: 100%;
  z-index: 300;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  line-height: 1.4em;
  flex-direction: column;
  transition: transform 300ms ease-in-out 3ms;
  will-change: transform;
}

.modal .content .scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal .content {
  background-color: var(--box-clr);
}

#modal .content {
  position: relative;
  margin-top: 20px;
  height: calc(100% - 40px);
  margin-left:var(--base-size);
  margin-right: var(--base-size);
  width:calc(100% - var(--double-size));
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  font-weight: 400;
  padding:var(--double-size)
}

#modal p {
  margin-bottom: 1.2em;
}

#modal.invisible .content {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

#menu .content {
  top: 0;
  border-radius: 0 0 1.7rem 1.7rem;
  transition: transform 300ms ease-in-out 3ms;
  will-change: transform;
}

#menu.invisible .content {
  transform: translateY(-100%);
}

.modal .content > svg {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.aboutLogo {
  height: 5rem;
  width: 50%;
  padding: 0.5em;
}

.darkmode .light {
  display: none;
}

.lightmode .dark {
  display: none;
}

.aboutHeader {
  width: 100%;
  height: 4em;
  padding: 1em;
}

hr {
  height: 1px;
  border: none;
  background-color: hsla(0, 0%, 50%, 0.5);
}

.menu{
  background:var(--box-clr);
  padding:var(--double-size);
  margin-top:var(--header-height);
  max-height:calc(100% - var(--header-height));
}

nav ul{
  padding: 0;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 50%, 0.5);
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;

}

.menuItem:active {
  background-color: var(--overlay-color);
}


.resultRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
  cursor: pointer;
  word-break: break-word;
}

.resultDonut {
  width: 4.5rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.darkmode .resultDonut svg {
  opacity: 0.66;
}

.resultDonut .percentage {
  position: absolute;
  font-size: 1em;
}

.intro {
  font-size: 1.1em;
  font-weight: bold;
}

.resultRow .vernacular {
  font-size: 1.6em;
}

.hyphenate {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}





#modal .vernacular {
  font-size: 2em;
  line-height: 1em;
}

#modal .resultLabels {
  border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
  padding: 1em 0;
  margin-bottom: 2em;
  flex-grow: 0;
}

#modal .resultDescription {
  font-size: 1em;
  flex-grow: 1;
}

#modal .resultDescription > * {
  margin-top: 1em;
}

#modal .resultActions {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:var(--base-size)
}

#modal .btn {
  font-size: 0.9rem;
}

.italics {
  font-style: italic;
}

.resultRow .scientific {
  font-size: 1em;
  line-height: 1.5em;
}

#modal .scientific {
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 0.5em;
}

.extendedManual svg {
  width: 3rem;
  margin-right: 0.75em;
  float: left;
}

.extendedResult {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: var(--fresh-water-blue-medium);
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
  color: var(--text-clr-on-primary);
}

.scientific {
  font-style: italic;
  font-weight: 400;
}

.group {
  font-size: 1em;
  font-variant: small-caps;
}

.resultLabels {
  flex-grow: 1;
  flex-shrink: 1;
}

.tick {
  background-color: var(--tick-clr);
}

.chevron-right {
  flex-shrink: 0;
  color: hsla(0, 0%, 50%, 75%);
}

.chevron-right svg {
  height: 3em;
}

.loading .imgContainer {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
